
@{
    ViewBag.Title = "BoStrap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BoStrap</h2>


<div class="row">
    <div class="col-md-6">
        <div>
            <img src="../MediaLibrary/Images/shiny_sky_with_stars_design_vector_background_522913.jpg" />
        </div>
    </div>
    <div class="col-md-6">
        <img src="../MediaLibrary/Images/oVMRq8i.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-4"><img src="../MediaLibrary/Images/shiny_sky_with_stars_design_vector_background_522913.jpg" /></div>
    <div class="col-md-4"><img src="../MediaLibrary/Images/oVMRq8i.jpg" /></div>
    <div class="col-md-4"><img src="../MediaLibrary/Images/shiny_sky_with_stars_design_vector_background_522913.jpg" /></div>
</div>
<div class="row">
    <div class="col-md-3"><img src="../MediaLibrary/Images/shiny_sky_with_stars_design_vector_background_522913.jpg" /></div>
    <div class="col-md-3"><img src="../MediaLibrary/Images/oVMRq8i.jpg" /></div>
    <div class="col-md-3"><img src="../MediaLibrary/Images/shiny_sky_with_stars_design_vector_background_522913.jpg" /></div>
    <div class="col-md-3"><img src="../MediaLibrary/Images/oVMRq8i.jpg" /></div></div>
<div class="row">
    <div class="col-md-2"><img src="../MediaLibrary/Images/shiny_sky_with_stars_design_vector_background_522913.jpg" /></div>
    <div class="col-md-2"><img src="../MediaLibrary/Images/oVMRq8i.jpg" />
</div>
    <div class="col-md-2"><img src="../MediaLibrary/Images/oVMRq8i.jpg" />
</div>
    <div class="col-md-2"><img src="../MediaLibrary/Images/oVMRq8i.jpg" />
</div>
    <div class="col-md-2"><img src="../MediaLibrary/Images/shiny_sky_with_stars_design_vector_background_522913.jpg" /></div>
    <div class="col-md-2"><img src="../MediaLibrary/Images/oVMRq8i.jpg" /></div>
</div>



