@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="bckImage">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!--Slide 1-->
            <div class="item active">
                <img src="../Medialibrary/Images/Nature-background-10.jpg" alt="...">
                <div class="carousel-caption">
                    <h3 style="color:red;font-size:45px;font-style:italic;font-weight:800">Welcome to Live Video Meet Friends,Family and Loved ones Now</h3>
                </div>
            </div>
            <!--Slide 2-->
            <div class="item">
                <img src="../MediaLibrary/Images/Nature-background-15.jpg" alt="...">
                <div class="carousel-caption">
                    <h3 style="color: white;font-size: 45px;font-style: italic;font-weight: 800;opacity: initial;">
                        Create An Account And Meet Your Billions Of Friends
                    </h3>
                </div>
            </div>
            <!--Slide 3-->
            <div class="item">
                <img src="../MediaLibrary/Images/Nature-Background-Wallpapers-8_gxwmqmj.jpg" alt="...">
                <div class="carousel-caption">
                    <h3 style="color:red;font-size: 45px;font-style: italic;font-weight: 800;opacity: initial;">Share Live Moments Instantly To Your Friends</h3>
                </div>
            </div>
            <!--Slide 4-->
            <div class="item">
                <img src="../MediaLibrary/Images/naturebackground.jpg" alt="...">
                <div class="carousel-caption">
                    <h3 style="color: white;font-size: 45px;font-style: italic;font-weight: 800;opacity: initial;">Send The Amazing Wishes Through The Video</h3>
                </div>
            </div>
            <!--Slide 5-->
            <div class="item">
                <img src="../MediaLibrary/Images/naturebackground.jpg" alt="...">
                <div class="carousel-caption">
                    <h3 style="color: white;font-size: 45px;font-style: italic;font-weight: 800;opacity: initial;">Publish The Amazing Wishes Through The Video</h3>
                </div>
            </div>
            <!--Slide 6-->
            @*<div class="item">
                <img src="../MediaLibrary/Images/Mahnder - CopyNewhghjk.jpg" alt="...">
                <div class="carousel-caption">
                    <h3 style="color: white;font-size: 45px;font-style: italic;font-weight: 800;opacity: initial;">
                        Google and Microsoft is Trying to build the Next Generation Apps,SoftWare Engineers and students Learn those,
                        They always lag by Generation Gap
                        But My Dream Is To Full Fill This Gap
                    </h3>
                </div>
            </div>*@
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
    <div style="color:red;text-size-adjust:auto"> Your Information "@Request.Browser.Browser" That's Great!</div>
    @{
        var amounts = new List<decimal> { 100, 25.08m, -40, 255, 279.99m };
        
    }
    <ul>
        @foreach(decimal amount in amounts){
        <li>@formatAmount(amount)</li>
            }
    </ul>
    @helper formatAmount(decimal Amount) {
          
              var color = "green";
              if (Amount < 0)
              {
                  color = "red";
              } 
              <span style="color:@color">@string.Format("{0:c}",Amount)</span>
        }
</div>


<style>

    .bckImage {
        background: url("../MediaLibrary/Images/images.jpe") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }
    .carousel {
    position: relative;
    top: -69.52px;
}
</style>




